.scrollbar-hide {
    -ms-overflow-style: none;  /* IE 10+ */
overflow: -moz-scrollbars-none;  /* Firefox This will be deprecated in future*/
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}