.sidebar_custom {
    background-color: #34495e;
    color: white;
    /*height:90.6vh;*/
    /*position: relative;*/
    /*align-items: stretch;*/
    padding-top: 10px;
}

label,ul {
    margin-bottom: 0px;
}

.sideBarMenuDivider{
    border: 0.5px gray solid;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.sideBarMenu {
    padding: 1px 1px 1px 10px;
}



.sideBarSubMenuItem {
    padding: 1px 1px 1px 20px;
}

a,a:hover {
    color: white;
    text-decoration: none;
}


/*.sideBarMenuItem,.sideBarMenuItem:hover {*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

.sideBarMenuItem {
    padding: 5px 1px 5px 10px;
}

.sideBarMenuItem:hover{
    background-color: #3498db;
    color: white;
}

/*.sideBarMenu:hover {*/
    /*background-color: #3498db;*/
/*}*/

.dropdown-toggle,.dropdown-toggle:after {
    margin-left: 0.5em !important;
    vertical-align: middle !important;
}

.menuArrowIcon-left,.menuArrowIcon-down {
    padding: 5px 5px 5px 5px;
    float: right;
    transition: 0.5s;
}

.menuArrowIcon-down{
    transition: 0.5s;
    transform: rotateZ(-90deg);
}