label,ul {
    margin-bottom: 0px;
}

.sideBarHr{
    border: 0.5px #ecf0f1 solid;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 10px;
    margin-right: 10px;
}

.sideBarMenu {
    padding: 1px 1px 1px 10px;
}

.sideBarSubMenuItem {
    padding: 1px 1px 1px 20px;
}

a {
    color: black;
}

a,a:hover{
    text-decoration: none;
}

a:hover{
    color: #3498db;
}

.sideBarMenuItem {
    padding: 5px 1px 5px 10px;
}

.dropdown-toggle,.dropdown-toggle:after {
    margin-left: 0.5em !important;
    vertical-align: middle !important;
}

.menuArrowIcon-left,.menuArrowIcon-down {
    padding: 5px 5px 5px 5px;
    float: right;
    transition: 0.5s;
}

.menuArrowIcon-down{
    transition: 0.5s;
    transform: rotateZ(-90deg);
}