body,html{
    height:100%;
}

#root{
    background-image: url("../../assets/img/Savin-NY-Website-Background-Web.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.loginForm{
    border: 1.5px #3498db solid;
    padding: 25px 25px 25px 25px;
}
.loginForm,.loginFormBackground{
    border-radius: 0.5rem;
}

h2{
    text-align: center;
}