.dashboardWindow{/*.root {*/
    background-image: url('../../assets/img/Backgrounds_Beautiful_background_with_lines_035601_.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    /*background-color: #bdc3c7;*/
}