.profileWindow {
    background-color:white;
    margin:10px;
    padding-top:10px;
    padding-bottom:10px;
}

.profileHeadingHr {
    border:#3498db 0.81px solid;
    margin-left:5px;
    margin-right:5px;
}

.profileBodyRightBar,.profileBodyLeftBar {
    display:inline-flex;
    padding:10px;
    vertical-align: top;
}

.profileBodyRightBar {
    border-left:gray 2px solid;
    border-bottom-left-radius:0.1rem;
    border-bottom-right-radius:0.1rem;
}